<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>WelcomePage</servlet-name>
        <servlet-class>presentation.WelcomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>presentation.LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>presentation.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationPage</servlet-name>
        <servlet-class>presentation.RegistrationPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehiclePage</servlet-name>
        <servlet-class>presentation.AddVehiclePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HubPage</servlet-name>
        <servlet-class>presentation.HubPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateLoginServlet</servlet-name>
        <servlet-class>business.ValidateLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateNewVehicleServlet</servlet-name>
        <servlet-class>business.ValidateNewVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateNewUser</servlet-name>
        <servlet-class>business.ValidateNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVehiclePage</servlet-name>
        <servlet-class>presentation.DeleteVehiclePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleManagementPage</servlet-name>
        <servlet-class>presentation.VehicleManagementPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuelReportPage</servlet-name>
        <servlet-class>presentation.FuelReportPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintReports</servlet-name>
        <servlet-class>business.PrintReports</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomePage</servlet-name>
        <url-pattern>/WelcomePage-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationPage</servlet-name>
        <url-pattern>/RegistrationPage-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehiclePage</servlet-name>
        <url-pattern>/AddVehiclePage-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HubPage</servlet-name>
        <url-pattern>/HubPage-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateLoginServlet</servlet-name>
        <url-pattern>/ValidateLoginServlet-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateNewVehicleServlet</servlet-name>
        <url-pattern>/ValidateNewVehicleServlet-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateNewUser</servlet-name>
        <url-pattern>/ValidateNewUser-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVehiclePage</servlet-name>
        <url-pattern>/DeleteVehiclePage-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleManagementPage</servlet-name>
        <url-pattern>/VehicleManagementPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuelReportPage</servlet-name>
        <url-pattern>/FuelReportPage-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintReports</servlet-name>
        <url-pattern>/PrintReports-URL</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
