<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>WelcomePage</servlet-name>
        <servlet-class>viewLayer.WelcomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>viewLayer.LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>viewLayer.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationPage</servlet-name>
        <servlet-class>viewLayer.RegistrationPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehiclePage</servlet-name>
        <servlet-class>viewLayer.AddVehiclePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HubPage</servlet-name>
        <servlet-class>viewLayer.HubPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomePage</servlet-name>
        <url-pattern>/WelcomePage-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationPage</servlet-name>
        <url-pattern>/RegistrationPage-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehiclePage</servlet-name>
        <url-pattern>/AddVehiclePage-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HubPage</servlet-name>
        <url-pattern>/HubPage-URL</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
